/*this is my main style sheet
dark #265C4B
less dark #146551
medium #007566
light #589A8D
lightest #9FF5B9
white ##DDEAF
black #030203
#6FBEEE*/

.bg-white{
  background-color:#DDEAF3
  padding:50px;
  padding-bottom:50px;
}

.bg-dark{
  background-color:#265C4B ;
  padding:50px;
}

.bg-less dark{
  background-color:#146551 ;
  padding:50px;
}

.bg-medium{
  background-color:#007566 ;
  padding:50px;
}

.bg-light{
  background-color:#589A8D ;
  padding:50px;
}
.bg-lightest{
  background-color:#9FF5B9 ;
  padding:50px;
}
.bg-black{
  background-color:#030203;
  padding:0px;
}

nav{
  background-color:white;
  border:1px solid:white;
  color:black;
  display:block;
  overflow:hidden;
  width:75%;
  height:50px;
  padding-right:250px;
}
  nav ul li{
    display:inline-block;
    list-style-type:none;
  }
  
  nav ul li a{
    color:#9FF5B9;
    display:block;
    line-height:10px;
    text-decoration:none;
    padding:10px;
    background-color: #265C4B;
  }
  
  nav ul li:hover{
    background-color: #265C4B;
  }
  nav ul li:hover a{
    color:#589A8D;
  }

nav ul{
padding-left:20px;
}

nav.nav-dark{
  background-color:#265C4B;
  border:1px solid:#265C4B;
  color:black;
  display:block;
  overflow:hidden;
  width:100%;
  height:100%;
  
}

nav.nav-dark ul li{
  display:inline-block;
  list-style-type:none;
}

nav.nav-dark ul li a{
  color:#9FF5B9;
  display:block;
  line-height:10px;
  text-decoration:none;
  padding:10px;
  background-color: #265C4B;
}

nav.nav-dark ul{
padding-left:350px;
}

nav.nav-dark ul li:hover{
  background-color:#265C4B;
}
nav.nav-dark ul li:hover a{
  color:#589A8D;
}
ul{
  font-family: 'Playfair Display', serif;
}

p{
  font-family: 'Onest', sans-serif;
}